/*Contact Start*/

/*add bootsrap here*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
}

/*end bootsrap here */
* {
  box-sizing: border-box;
}

#contact {
  padding: 5rem 0;
  background: white;
}

#contact .container {
  max-width: 1000px;
  height: 448px;
}

#contact .container-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .container-content .container-info {
  width: 40%;
}

#contact .container-content .container-info div {
  margin: 30px;
  line-height: 1.7;
}

#contact .container-content .container-info h3 {
  font-size: 28px;
  color: #383848;
  margin-bottom: 10px;
}

#contact .container-content .container-info p {
  color: #8b8989;
}

#contact .container-content .container-info i {
  color: #054997;
  margin-right: 5px;
}

#contact .container-content .container-info a i {
  color: rgb(61, 126, 247);
  background-color: #383848;
  padding: 15px;
  border-radius: 50%;
  font-size: 25px;
}

#contact .container-content .container-info a i:hover {
  background: #6a6ac0;
  color: #383848;
  color: white;
}

form {
  width: 50%;
}

form input {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #c1bbf7;
  border-radius: 23px;
}

#contact .btn {
  background: #383848;
  color: white;
  cursor: pointer;
}

#contact .btn:hover {
  background-color: #6a6ac0;
  color: white;
}
/*Contact end*/

/*Footer start*/
#footer {
  background: #383848;
  text-align: center;
  color: white;
  padding: 15px 0;
  font-size: 14px;
}

#footer a {
  color: #e3e2ed;
}

* {
  padding: 0; /*To remove the space*/
  margin: 0; /*To remove the space*/
  box-sizing: border-box; /*To remove the space*/
}

.btn /*Ra7 tabi2 hayda l class 3a kel l buttons bi kel page fiya button*/ {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  text-decoration: none; /*To remove the underline of the words*/
}

#footer {
  background: #383848;
  text-align: center;
  color: white;
  padding: 15px 0;
  font-size: 14px;
}

#footer a {
  color: #e3e2ed;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
