/*Department start*/

/*add bootsrap here*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
}

/*end bootsrap here */

* {
  box-sizing: border-box;
}

#Department {
  height: 125vh;
  display: flex;
  justify-content: center;
  justify-items: center; /* add this line to center items vertically */
  background: url(./img/classes-background.jpg) center center/cover fixed;
}

#Department .title {
  text-align: center;
  margin-bottom: 4rem;
}

#Department h2 {
  font-size: 40px;
  padding-top: 30px;
  color: rgb(25, 180, 228);
}
#Department .title p {
  color: rgb(231, 228, 220);
  font-weight: 700;
}

#Department .Department-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

#Department .Department-items img {
  width: 200px;
  border-radius: 50px;
}

#Department .Department-items h3 {
  font-size: 12px;
  margin: 15px 0;
}

#Department .Department-items p {
  font-size: 12px;
  margin: 60px;
  padding: 0px;
  font-weight: 200;
}

#Department .Department-items span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
}

#Department .container a {
  margin-left: 5px;
  background-color: aliceblue;
  color: black;
  margin-top: 50px;
}

#Department .container a:hover {
  background-color: #6a6ac0;
}

.btn /*Ra7 tabi2 hayda l class 3a kel l buttons bi kel page fiya button*/ {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  text-decoration: none; /*To remove the underline of the words*/
}

.btn-secondary {
  /*hayda bas ra7 tab2o 3a l kabsi taba3 go back and check our departments*/
  color: white;
  background: #383848;
}
.btn-secondary:hover {
  background-color: #6a6ac0;
}

* {
  padding: 0; /*To remove the space*/
  margin: 0; /*To remove the space*/
  box-sizing: border-box; /*To remove the space*/
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*Department end*/
